$primary-color: #0070f3;
$size: 300px;

.text_and_image {
  position: sticky;
  top: 0rem;
  padding: 1rem;
  width: 100%;
  background-color: #f0f0f0;
  // align-items: center;
  z-index: 9;

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;//flex-end;

    .inputs_wrapper {
      display: flex;
      align-items: center;
      border-radius: 6px;
      overflow: hidden;
    }
  }
  // box-shadow: 0 0 2px rgba(0,0,0,.15);
  // border-bottom: 1px solid rgba(0,0,0,0.05);

  .create_btn {
    background-color: $primary-color;
    color: white;
    // margin: 4px 0;
    cursor: pointer;
    border-radius: 4px;
    // border-top-right-radius: 16px;
    // border-bottom-right-radius: 16px;
    padding: 15px 15px;
    // padding-right: 20px;
    // width: 100px;
    font-size: 18px;
    display: flex;
    // margin: auto;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    position: relative;

    &.disabled {
      pointer-events: none;
      opacity: .5;
    }

    // svg {
    //   visibility: hidden;
    // }

    // &:before {
    //   content: "";
    //   transform: rotate(-20deg) translateY(-50%);
    //   width: 100px;
    //   height: 60px;
    //   right: -85px;
    //   background-color: #f0f0f0;
    //   position: absolute;
    // }

    // &:after {
    //   content: "";
    //   transform: rotate(20deg) translateY(50%);
    //   width: 100px;
    //   height: 60px;
    //   right: -85px;
    //   background-color: #f0f0f0;
    //   position: absolute;
    // }

    &:hover {
      opacity: .75;
    }

    &.first_time {
      &:after {
        content: '• Free forever \A • No credit card required';
        white-space: pre;
        position: absolute;
        bottom: -36px;
        line-height: 15px;
        left: 0;
        text-align: left;
        font-size: 12px;
        opacity: .5;
        color: black;
        font-weight: 400;
      }
    }
  }
}

.main_input {
  // border-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: flex;
  // margin-bottom: 3rem;

  input, textarea {
    padding: 15px 35px;  
    width: 450px;
    height: 150px;
    max-width: 100%;
    border: 4px solid white;//#eaeaea;
    // border-right: none;
    // border-radius: 6px;
    // border-top-left-radius: 16px;
    // border-bottom-left-radius: 16px;
    font-size: 1.25rem;
    line-height: 1.5;
    outline: none;
    resize: none;//vertical;
    
    // &::-webkit-scrollbar-color: red yellow;
    &::-webkit-scrollbar-track {
      background: transparent;//#f2f2f2;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary-color; //rgb(200,200,200);//$primary-color;
      // border-radius: 999px;
      // color: blue;
      // outline: 1px solid #0070f3;
    }

    &:hover,
    &:focus,
    &:active {
      color: $primary-color;
      border-color: $primary-color;
      // border-width: 4px;
    }
  }
}



#palette_description, 
.image_description {
  opacity: .5;
}

.middle_section {
  background-color:#fafafa;
  width: 100%;
  position: fixed;
  top: 172px;
  max-height: calc(100vh - 172px);
  overflow: scroll;
  z-index: 2;

  .X_wrapper {
    position: fixed;//absolute;
    top: 205px;
    right: 35px;
    height: calc(100% - 35px);
    
    .palette_X {
      // position: sticky;
      // top: 200px; //15px;
      display: block;
      
      cursor: pointer;

      &:hover {
        opacity: .75;
      }
    }
  }
  .palette_wrapper {
    position: relative;
    text-align: center;
    display: none;
    margin-top: 3rem;

    &.showing {
      display: block;
    }
  }
}

.container {
  // padding: 0 2rem;
}

.loader_showing {
  opacity: 0;
  transition: opacity 75ms ease;

  &.showing {
    opacity: 1;
  }
}

.title_wrapper {
  padding: 2.5rem 0 0 0;
  
  // p {
  //   max-width: 550px;
  // }
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; //center;
  align-items: center;
  background-color: rgb(240,240,240);
  flex-grow: 1;
}

.footer {
  display: flex;
  flex: 0;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;//rgb(250,250,250);
  height: 100px;
  // color: white;

  .app_title {
    font-weight: 600;

    &::after {
      content: '©';
      font-size: 12px;
      display: inline-block;
      transform: translateY(4px);
      margin-right: 6px;
    }
  }

  .email {
    text-decoration: underline;
    margin-left: 25px;
    font-size: 15px;
    position: relative;
    
    display: none; // REMOVED for now.

    &:hover {
      opacity: .75;
    }

    &:before {
      content: "/";
      position: absolute;
      left: -15px;
      font-size: 25px;
      top: -5px;
      font-weight: 200;
    }
  }
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-grow: 1;
}

.title {
  // color: #0070f3;
  color: rgb(68,68,68);
  // opacity: .75;
  text-decoration: none;
  // letter-spacing: 2px;

  &::after {
    content: '©';
    font-size: 25px;
  }
}

.title:hover,
.title:focus,
.title:active {
  // text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  padding: 0 1rem;
  
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 60px;
  // background-color: $primary-color;
  // color: white;

  img {
    transform: translateX(-10px) translateY(2px);
  }
}

.title,
.description {
  text-align: center;
}

.description {
  // margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.25rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid_wrapper {
  background-color: white;
  width: 100%;
  // display: none;
  justify-content: center;
  // min-height: 100vh;
  align-items: flex-start;
  // padding: 2rem;
  // max-height: calc(100vh - 183px);
  // overflow: scroll;

  // &.showing {
  //   display: flex;
  // }

  .view_type {
    position: fixed;
    top: 205px;
    right: 35px;
    cursor: pointer;
    z-index: 9;
  }

  .grid {
    // display: flex;
    
    max-width: 860px;
    margin: auto;
    justify-content: center;
    padding-bottom: 2rem;

    &.viewing_grid {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax($size, 350px) );
      
      padding-bottom: 8rem!important; // Transform messes up spacing, so need to add more.
      margin-top: -2rem;
    }

    > .viewing_grid {
      width: 325px;
      height: 370px;
    }
  }
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


.alexMakes {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: $primary-color;
  color: white;
  font-weight: 600;
  width: fit-content;
}

@media (max-width: 600px) {
  .main {
    max-width: 100vw;
    overflow: hidden;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    height: fit-content!important;
  }

  .text_and_image {
    padding: 0!important;

    &.fixed {
      // position: fixed!important;
    }

    .main_input {
      textarea {
        max-width: 100vw!important;
      }
    }
  }

  .view_type {
    display: none;
  }

  .inputs_wrapper {
    flex-wrap: wrap;
    width: 100vw;

    > div:nth-child(1) {
      display: flex;
      width: 100vw;
    }
  }

  .inner {
    flex-direction: column;
    align-items: initial!important;

    .create_btn {
      
      margin: 1rem 0!important;

      &.first_time {
        
        margin: 1rem 0 3rem!important;

        &:after {
          content: '• Free forever • No credit card required'!important;
          // bottom: initial!important;
          bottom: -25px!important;
          left: 5px!important;
          // left: calc(100% + 10px)!important;
        }
      }
    }
  }

  .middle_section {
    z-index: 9!important;
    top: 0!important;
    max-height: 100vh!important;

    .palette_wrapper {
      margin-top: 6rem!important;
    }

    .X_wrapper {
      top: 15px!important;
      background-color: white;
      height: initial!important;
      box-shadow: 0 0 2px rgba(0,0,0,.15);
      padding: .35rem;
    }
  }

}
